<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!--<add key="conn" value="Data Source=ES-SERTEST\SQLEXPRESS;Initial Catalog=Cabinet;User ID=EssUser;Password=123"/>-->
        <add key="conn" value="Data Source=GAVIN-410\SQLEXPRESS;Initial Catalog=CabinetCx0120;User ID=EssUser;Password=123"/>
        <!--<add key="conn" value="Data Source=192.168.52.211;Initial Catalog=Cabinet;User ID=sa;Password=esseniot-098"/>-->
        <add key="FreeTime" value="99999"/>
    </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
